<!DOCTYPE html>
<html lang="en">
<head>
  <title>ULL-CloudIDE</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="images/cloud.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <link rel="stylesheet" type="text/css" href="css/cssindex.css">
</head>
<body>





<div >
  <div style="padding-top:48px">
    <div class="col-md-12">
      <center>
      <div class="col-md-6">
        <a href="/autenticacion"><img src="/images/login.png" style="width:20%"></a>
      </div>

      <div class="col-md-6" >
        <h1 id="titulo">
          <span class="typewrite" style="color:white; font-family: 'Orbitron', sans-serif;" data-period="2000" data-type='[ "ULL-CloudIDE"]'>
            <span class="wrap"></span>
          </span>
        </h1>
      </div>
    </center>
    </div>
  </div>
</div>


</body>

<script src="js/jsindex.js"></script>

</html>
