body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
body {
    background-image: url('/images/back2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
